:root {
	/* COLORS */
	--gray-900: rgb(30, 30, 31);
	--gray-800: rgb(37, 38, 39);
	--gray-700: rgb(49, 50, 51);
	--gray-600: rgb(72, 73, 74);
	--gray-500: rgb(88, 88, 90);
	--gray-400: rgb(117, 117, 119);
	--gray-300: rgb(162, 162, 164);
	--gray-200: rgb(209, 210, 212);
	--gray-100: rgb(231, 233, 237);
	--gray-50: rgb(248, 250, 255);
	--lime-500: rgb(132, 204, 22);
}
