services:
  frontend:
    build: client/
    ports:
      - 5177:8080
    restart: always
  backend:
    build: server/
    environment:
      - 'Provider=Sqlite'
      - 'ConnectionStrings__Sqlite=Data Source=./mount/5dDiplomacy.db'
    volumes:
      - ./server/mount:/app/mount
    restart: always
