services:
  frontend:
    build: client/
    ports:
      - 5173:8080
    restart: always
  backend:
    build: server/
    environment:
      - "Provider=Sqlite"
      - "ConnectionStrings__Sqlite=Data Source=5dDiplomacy.db"
    volumes:
      - ./data/5dDiplomacy.db:/app/5dDiplomacy.db
    restart: always
